:root {
  /* Colors */
  --primary-color: #284C88;
  --primary-color-dark: #011938;
  --bold-color:#D8282B;
  --bg-color: #556487;
  --text-color: #ffffff;
  --border-color: #000000;

  /* Globals */
  --border-radius: 20px;

  /* Animations */

  --default-transition: 300ms ease-in-out;
}
